.type__navigation {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 357px;
  border-bottom: 2px solid #b5b5b5;
}

@media screen and (max-width: 1000px) {
  .type__navigation {
    display: none;
  }
}

@media screen and (min-width: 1001px ) and (max-width: 1400px) {
  .type__navigation{
    padding: 0 50px;
  }
}

@media screen and (min-width: 1400px ) and (max-width: 1900px) {
  .type__navigation{
    padding: 0 150px;
  }
}